body {
  margin: 0;
  padding: 0;
  background-color: #111111;
  color: #f4f4f4;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
}

#artwork-field {
  width: 60%;
  height: 100vh;
  border: 2px solid red;
}

#artwork-search {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.art-thumb {
  width: 30vh;
}
